{{#each go}}


    <div class="card-container">
        <div class="container">



            <div class="col-md-4">
                <div class="card text-center">
                    <div class="card-body">
                        <p class="card-text">{{this.name}}</p>

                        <p class="card-text"> {{this.email}}</p>

                </div>
            </div>
        </div>
    </div>

    {{/each}}